/* Style for Board Game Guru Website */



.homepage {
  background: url(/static/img/board-game-challenge-chess-209728.jpg) no-repeat center center;
  background-size: cover;
  padding-top: 70px;
  padding-bottom: 500px;
  text-align: center;
}

#site-name {
  font-size: 100px;
  color: white;
}

.nav_text {
  color: white;
}

h1, h2, h3{
  color: white;
  padding-top: 70px;
  text-align: center;
  margin-bottom: 10%;
}

.navbar {
  border-style: solid;
  border-color: grey;
  border-width: 1px;
}

.red_heart, .red_heart:hover {
  color : red;
}

.selection {
  text-align: center;
}

.base-page {
  top: 56px;
  position: relative;
  padding-top: 50px;
  background: url(/static/img/pattern_smollest.png);
  background-repeat: repeat;
  margin: 0;
  padding: 0;
  padding-bottom: 200px;
  min-width: 100%;
}

.hp-box {
  border-color: grey;
  border-style: solid;
  border-width: 1px;
  color: white;
  margin: 35px;
  padding-top: 20px;
  text-align: left;
}

.select-btn {
  color: white;
  border-style: solid;
  border-color: grey;
}


#fav_table>thead {
  color: white;
}
#fav_table>tbody>tr:nth-child(odd)>td,
#fav_table>tbody>tr:nth-child(odd)>th {
  background-color: rgba(78, 24, 87, 0.6);
  color: white;
}
#fav_table>tbody>tr:nth-child(even)>td,
#fav_table>tbody>tr:nth-child(even)>th {
  background-color: transparent;
  color: white;
}


.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   background-color: transparent;
 }

#results_table {
  background-color: #8f0404;
  color: white;
}



#database {
  background-color: black;
  color: white;
}






