<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <!-- for jQuery/AJAX -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- for Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- for jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <!-- for AJAX -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <!-- for Board Game Guru styling -->
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/site.css"/>
</head>

<body>
    <div class="container">
    <div class="navbar fixed-top">
        <a class="navbar-brand" href="/">Board Game Guru</a>
        <a href="/favorites">Your Favorites</a>
        <a href="/database">Database</a>
        <a href="/search-form">Search</a>
        <span align="right">
          {% if session %}
            <form action='/logout' method='POST'>
              <input class="btn red-btn" type="submit" value="Logout">
            </form>
          {% else %}
            <form action='/login' method='POST'>
                Email: <input type="email" name="email" required>
                Password: <input type="password" name="password" required>
                <input class="btn purp-btn" type="submit" value="Login">
            </form>
          {% endif %}
    </div>
    </div>

  <div class="container-fluid base-page">
    {% block body %}
    <!-- page body goes here -->
    {% endblock %}
  </div>

</body>
</html>