<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">

        <div class="navbar-header">
            <img src="https://placekitten.com/333/333">
            <a class="navbar-brand" href="/">Board Games</a>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/favorites">
                        <img class="favorites"
                             src="https://placekitten.com/200/250">
                        My Favorite Board Games
                    </a>
                </li>
                <li><a href="/login">Log In</a></li>
            </ul>
        </div>

    </div>
</div>

  <!-- Show flashed messages -->
  {% with messages = get_flashed_messages() %}
      {% for message in messages %}
          <div class="alert alert-warning">{{ message }}</div>
      {% endfor %}
  {% endwith %}

  <!-- This is where the main content goes. -->
  {% block body %}
      BODY OF PAGE GOES HERE VIA INHERITANCE
  {% endblock %}

</body>
</html>