{% extends 'base.html' %}
{% block title %}{{boardgame.bg_name}}{% endblock %}

{% block body %}
<div id="bg_page" class="container-fluid bg-secondary text-light">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="offset-4">{{boardgame.bg_name}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <br><br><br><br>
      <img src={{boardgame.thumbnail_url}}>
    </div>
    <div class="col-sm-4">
      <br>
      <u>Playtime</u>: {{boardgame.playtime}} minutes<br><br>
      <u>Minimum Playtime</u>: {{boardgame.min_time}} minutes<br><br>
      <u>Maximum Playtime</u>: {{boardgame.max_time}} minutes<br><br>
      <u>Year Published</u>: {{boardgame.year_published}}<br><br>
      {% if fav_exist == None %}
        <button type="button" id="fav_button" class="btn btn-light">Favorite <i id="heart" class="fa fa-heart-o" aria-hidden="true"></i></button>
      {% else %}
        <button type="button" id="fav_button" class="btn btn-light">Favorite <i id="heart" class="fa fa-heart"></i></button>
        <style> #heart {color : red;}</style>
      {% endif %}
    </div>

    <div class="col-sm-4">
      <br>
      <u>Suggested Players</u>: {{boardgame.suggested_players}} players<br><br>
      <u>Minimum Players</u>: {{boardgame.min_players}} players<br><br>
      <u>Maximum Players</u>: {{boardgame.max_players}} players<br><br>
      <u>Publisher</u>: {{boardgame.publisher}}<br><br>
      <u>Designer</u>: {{boardgame.designer}}<br><br>
    </div>
    </div>

  <div class="row">
    <div class="col-10 offset-1">
      <br><br>
    <u>Description</u>:<br>
        {{boardgame.description}}<br><br><br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <h5> Have you played {{boardgame.bg_name}} before? Feel free to categorize it with the tag buttons below to help future users! </h5>
    </div>

    <div class="col-sm-12"><br><br>
      {% for tag in tags %}
        {% if tag.tagged_by_user %}
          <button type="button" class="btn btn-success btn-sm bgtag" id={{tag.tag_id}} value={{tag.tag_id}}>{{tag.tag_name}}
          <span class="badge" id=badge{{tag.tag_id}}>{{tag_dict[tag.tag_id]}}</span><br>
          </button>
        {% else %}
          <button type="button" class="btn btn-dark btn-sm bgtag" id={{tag.tag_id}} value={{tag.tag_id}}>{{tag.tag_name}}
          <span class="badge" id=badge{{tag.tag_id}}>{{tag_dict[tag.tag_id]}}</span><br>
          </button>
        {% endif %}
      {% endfor %}
    </div>
    </div><br><br><br><br>
  </div>

</div>

<script src="https://kit.fontawesome.com/6f41ffb181.js"></script>

<script>

///// following two functions handle user favoriting/unfavoriting board games
  function changeFavButton(response){

    let favorited = response.favorited;
    console.log(favorited);
    let heart = document.querySelector('#heart');

    if (favorited === "true") {
      $('#heart').removeClass("fa-heart-o");
      $('#heart').addClass("fa-heart");
      heart.style.color = 'red';
    }

    else {
      $('#heart').removeClass("fa-heart");
      $('#heart').addClass("fa-heart-o");
      $('#heart').attr("aria-hidden", "true");
      heart.style.color = 'black';
    }
  }
  

  function favBoardGame(evt){
    console.log(evt);
    // console.log(evt.target.id);
    const inputs = {
      'bg_id' : {{boardgame.bg_id}},
    };

    console.log(inputs);

    $.post('/new-favorite', inputs, changeFavButton);
  }

  $('#fav_button').on('click', favBoardGame);


/////// functions below handle tagging/untagging board games
  function updateTagNum(response){

    let deleted = response.deleted;
    // console.log(deleted);
    let tag_id = response.tag_id;
    // console.log(tag_id);

    if (deleted === "true") {
      $(`#${tag_id}`).removeClass('btn-success');
      $(`#${tag_id}`).addClass('btn-dark');

      let num = $(`#badge${tag_id}`).text();
      num = Number(num);
      num -= 1;
      
      $(`#badge${tag_id}`).text(`${num}`);

      alert('Tag Removed');
    }

    else {
      $(`#${tag_id}`).removeClass('btn-dark');
      $(`#${tag_id}`).addClass('btn-success');

      let num = $(`#badge${tag_id}`).text();
      num = Number(num);
      num += 1;
      
      $(`#badge${tag_id}`).text(`${num}`);

      alert(`Board Game Tagged`);
    }}

  function tagBoardGame(evt){
    console.log(evt);
    // console.log(evt.target.id);
    const inputs = {
      'tag_id' : evt.target.id,
      'bg_id' : {{boardgame.bg_id}},
    };

    console.log(inputs);

    $.post('/bg-tagged', inputs, updateTagNum);
  }
// jquery call for tagging/untagging board game
  $('.bgtag').on('click', tagBoardGame);


</script>

{% endblock %}


