{% extends 'base.html' %}
{% block title %}{{boardgame.bg_name}}{% endblock %}
{% block body %}

<div id="bg_page" class="container-fluid bg-secondary text-light">
  <div class="row">
    <div class="col-sm-3">
      <br><br><br><br>
      <img src={{boardgame.thumbnail_url}}>
    </div>
    <div class="col-sm-4">
      <br>
      <u>Playtime</u>: {{boardgame.playtime}} minutes<br><br>
      <u>Minimum Playtime</u>: {{boardgame.min_time}} minutes<br><br>
      <u>Maximum Playtime</u>: {{boardgame.max_time}} minutes<br><br>
      <u>Year Published</u>: {{boardgame.year_published}}<br><br>
      <form action="/favorites" method='POST'>
        <input type="text" name="bg_id" value={{boardgame.bg_id}} hidden>
        {% if session %}
        <input type="text" name="user_id" value={{user.user_id}} hidden>
        {% endif %}
        <input id="fav_button" type="submit" name="fav_button" value="Favorite">
      </form>
    </div>
    <div class="col-sm-5">
      <br>
      <u>Suggested Players</u>: {{boardgame.suggested_players}} players<br><br>
      <u>Minimum Players</u>: {{boardgame.min_players}} players<br><br>
      <u>Maximum Players</u>: {{boardgame.max_players}} players<br><br>
      <u>Publisher</u>: {{boardgame.publisher}}<br><br>
      <u>Designer</u>: {{boardgame.designer}}<br><br>
    </div></div>

  <div class="row">
    <div class="col-10 offset-1">
      <br><br>
    <u>Description</u>:<br>
        {{boardgame.description}}<br><br><br><br>
    </div>
  </div>
<!-- TEST BUTTON TO PROOF OF CONCEPT -->
  <button type="button" class="btn btn-success" id="family-btn" value={{boardgame.bg_id}}>Family</button>
  <br><br>


  <div class="row">
    <div class="col-12">
      {% for tag in tags %}
        <button type="button" class="btn btn-dark btn-sm bgtag" id={{tag.tag_id}} value={{tag.tag_id}}>{{tag.tag_name}}
        <span class="badge">{{tag_dict[tag.tag_id]}}</span>
        </button>
      {% endfor %}
    </div><br><br><br><br>
  </div>

</div>





<script>



  // below is a proof of concept to add a tag to a board game
  function sendAlert(response){
    alert(response);
  }

  function testFunction(evt){
    console.log(evt);
    console.log(evt.target.id);
    console.log("PLEASE WORK");
    const inputs = {
      'tag_id' : evt.target.id,
      'bg_id' : {{boardgame.bg_id}},
    };
    console.log(inputs);

    $.post('/bg-tagged', inputs, sendAlert);
  }

  $('.bgtag').on('click', testFunction);






</script>

{% endblock %}

<!-- PSEUDO CODE FOR TAGS

if the user clicks the co-op tag button...
jquery will select the *ID* of the button
on event of click > eventListener applied to each button
if clicked... send request to flask to instantiate a BgTag with user_id, bg_id, and tag_id

if the user clicks the co-op tag button...
jquery will select by the ckass to open a modal
when the modal opens, it will

 -->

<!-- Image: <img src={{boardgame.image_url}}> -->

<!-- JAVASCRIPT CODE FROM PREVIOUS PROJECT -->
<!-- <script>
  "use strict";
  const favButton = document.querySelector('#signIn');
  function changeButton() {
    if (favButton.innerText === 'Favorite') {
      favButton.innerText = 'Favorited';
    } else {
      favButton.innerText = 'Not a Favorite';
    }
  }
  favButton.addEventListener('click', changeButton);
</script> -->

