{% extends 'base.html' %}

{% block title %}Board Game Database{% endblock %}

{% block body %}
<div class="container-fluid">
    <h3>View Board Game Guru's database below</h3>

<table id="database" class="table-responsive table-bordered table-sm">
    <thead>
        <tr>
            <th></th>
            <th>Board Game Name</th>
            <th>Minimum Players</th>
            <th>Maximum Players</th>
            <th>Suggested Players</th>
            <th>Playtime</th>
            <th>Description</th>
            <th>Publisher</th>
            <th>Year Published</th>
            <th>Designer</th>
        </tr>
    </thead>
    <tbody>
        {% for bg in bg_obj_list %}
        <tr>
            <td><a href="/boardgame/{{bg.bg_id}}"><img src={{bg.thumbnail_url}}></a></td>
            <td><a class="tbl-link" href="/boardgame/{{bg.bg_id}}">{{bg.bg_name}}</a><br><br>
                {% if bg.bg_id not in user_favs %}
                    <button type="button" id={{bg.bg_id}}bg-id 
                        class="btn btn-light heart-btn black_heart fa fa-heart-o">
                    </button>
                {% else %}
                    <button type="button" id={{bg.bg_id}}bg-id 
                        class="btn btn-light heart-btn red_heart fa fa-heart">
                    </button>
                {% endif %}
            </td>
            <td>minimum {{bg.min_players}} players</td>
            <td>maximum {{bg.max_players}} players</td>
            <td>suggested {{bg.suggested_players}} players</td>
            <td>{{bg.playtime}} minutes</td>
            <td>{{bg.description|truncate(200, False, '...', 0)}}</td>
            <td>Publisher: {{bg.publisher}}</td>
            <td>published in {{bg.year_published}}</td>
            <td>Designer: {{bg.designer}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<!-- for heart icon -->
<script src="https://kit.fontawesome.com/6f41ffb181.js"></script>

<script>

    //below function handle quick-heart/favorite button on database page
    function favBoardGame(evt){

        let evt_bg_id = evt.target.id;
        let bg_id = evt_bg_id.slice(0,-5);

        const inputs = {
            "bg_id" : bg_id,
        };

        $.post('/new-favorite', inputs, (response) => {

            if (response.favorited === true) {
              $(evt.target).removeClass("black_heart fa-heart-o");
              $(evt.target).addClass("red_heart fa-heart");
            } else {
              $(evt.target).removeClass("fa-heart red_heart");
              $(evt.target).addClass("fa-heart-o black_heart");
            }
        });
      }

    $('.heart-btn').on('click', favBoardGame);

</script>

{% endblock %}