{% extends 'base.html' %}
{% block title %}Board Game Database{% endblock %}
{% block body %}
<div class="container-fluid">
    <h3>Click on the Column Headers to sort the database!</h3>
<br><br>
<table id="database" class="table-responsive table-bordered table-sm">
    <thead>
        <tr>
            <th></th>
            <th data-sort-attr="bg_name">Board Game Name</th>
            <th data-sort-attr="min_players">Minimum Players</th>
            <th data-sort-attr="max_players">Maximum Players</th>
            <th data-sort-attr="suggested_players">Suggested Players</th>
            <th data-sort-attr="playtime">Playtime</th>
            <th>Description</th>
            <th data-sort-attr="publisher">Publisher</th>
            <th data-sort-attr="year_published">Year Published</th>
            <th data-sort-attr="designer">Designer</th>
        </tr>
    </thead>
    <tbody>
    {% for bg in bg_obj_list %}
    <tr>
        <td><img src={{bg.thumbnail_url}}><br><br></td>
        <td><a class="tbl-link" href="/boardgame/{{bg.bg_id}}">{{bg.bg_name}}</a><br><br>

            {% if bg.bg_id not in user_favs %}
                <button type="button" id={{bg.bg_id}}bg-id 
                    class="btn btn-light heart-btn black_heart fa fa-heart-o">
                </button>
            {% else %}
                <button type="button" id={{bg.bg_id}}bg-id 
                    class="btn btn-light heart-btn red_heart fa fa-heart">
                </button>
                
            {% endif %}

        </td>
        <td>minimum {{bg.min_players}} players</td>
        <td>maximum {{bg.max_players}} players</td>
        <td>suggested {{bg.suggested_players}} players</td>
        <td>{{bg.playtime}} minutes</td>
        <td>{{bg.description|truncate(200, False, '...', 0)}}</td>
        <td>Publisher: {{bg.publisher}}</td>
        <td>published in {{bg.year_published}}</td>
        <td>Designer: {{bg.designer}}</td>
    </tr>
    {% endfor %}
    </tbody>

</table>
</div>

<script src="https://kit.fontawesome.com/6f41ffb181.js"></script>

<script>

    function favBoardGame(evt){

        let evt_bg_id = evt.target.id;
        let bg_id = evt_bg_id.slice(0,-5);

        const inputs = {
            "bg_id" : bg_id,
        };

        $.post('/new-favorite', inputs, (response) => {
            console.log(response);

            if (response.favorited === true) {
              $(evt.target).removeClass("black_heart fa-heart-o");
              $(evt.target).addClass("red_heart fa-heart");
            } else {
              $(evt.target).removeClass("fa-heart red_heart");
              $(evt.target).addClass("fa-heart-o black_heart");
            }
        });
      }

    $('.heart-btn').on('click', favBoardGame);

</script>

{% endblock %}