<!DOCTYPE html>
<html>
<head>
    <title>Board Game Guru</title>
    <!-- for bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <style type="text/css">

      .homepage {
        background: url(/static/img/board-game-challenge-chess-209728.jpg) no-repeat center center;
        background-size: cover;
        padding-top: 70px;
        padding-bottom: 500px;
        text-align: center;
      }

      #site-name{
        font-size: 100px;
        color: white;
      }
    </style>
</head>
<body>

<div class="homepage">
        <div class="container-fluid">
        <h1 class="col-12" id="site-name">Board Game Guru</h1>
        </div>
        <a class="btn btn-outline-light" href="/selection">Enter Site</a>

        <br><br><br><br>
       
            </div>
        </div>
    </div>


</body>
</html>