{% extends 'base.html' %}

{% block body %}

<div class="container, jumbotron">
<h2>Below you can search for a specific board game by name or you can search for criteria on what sort of board game you can play with the amount of players and time you have!</h2>
</div>

<div class="container">
<br><br>
<form action='/results'>
    Board Game Name: <input type="text" name="bg_name"><br><br>

    Number of Players: <input type="number" name="num_players" min="1" max="100"><br><br>

    Playtime in Minutes: <input type="number" name="playtime" min="1" max="60000"><br><br>
    
    Board Game Publisher: <input type="text" name="publisher"><br><br>

    Board Game Designer: <select name="designer">
        {% for designer in designer_list %}
            <option value='{{designer}}'>{{designer}}</option>
        {% endfor %}
        <br><br>

    <input type="submit" class="btn btn-primary" value="Search">

</form>
<br><br><br><br><br><br>
</div>

{% endblock %}