{% extends 'base.html' %}

{% block body %}

<div class="container">
<h2>Search for a specific board game by name or by criteria based on preferred tags/categories, the amount of players, and/or time you have!</h2>
</div>

<div class="container">
<br><br>
<form action='/results'>
    Board Game Name: <input type="text" name="bg_name"><br><br>

    Number of Players: <input type="number" name="num_players" min="1" max="100"><br><br>

    Playtime in Minutes: <input type="number" name="playtime" min="1" max="60000"><br><br>

    Board Game Categories/Tags:<br>
            {% for tag in tag_list %}
            &emsp; <input type="checkbox" name="bg_tag" value={{tag.tag_id}}>{{tag.tag_name}}: <br>&emsp; &emsp; {{tag.tag_description}}<br>
            {% endfor %}
    <br>
    Board Game Publisher: <input type="text" name="publisher"><br><br>

    Board Game Designer: <select name="designer">
        {% for designer in designer_list %}
            <option value='{{designer}}'>{{designer}}</option><br>
        {% endfor %}
    </select>

<br><br>        
<input type="submit" class="btn red-btn" value="Search">

</form>
</div>

{% endblock %}